{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIAGENSTURR</title>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
</head>
<body>
    <header>
        <nav class="navbar section-content">
            <a href="{%url 'lista_viagens'%}" class="nav-logo">
                <h2 class="logo-text">🌍✈️ AGÊNCIA DE VIAGENS</h2>
            </a>
            <ul class="nav-menu">
                
                <li class="nav-item">
                    <a href="{%url 'lista_viagens'%}" class="nav-link">VIAGENS</a>
                </li>
                <li class="nav-item">
                <a href="{% url 'login'%}" class="nav-link">LOGIN</a>
                </li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <div class="section-content">
                 <div class= "hero-details">
                        <h2 class="title">Viajar é Viver — Viaje com Quem Entende de Sonhos!</h2>
                        <h3 class="subtitle">Oferecemos as melhores experiências com qualidade, segurança e preços que cabem no seu bolso 
                            porque viajar bem é possível, e você merece viver momentos inesquecíveis!</h3>
                        <p class="description">Na Melhor Agência de Viagens, acreditamos que cada viagem é uma nova história. 
                            Por isso, unimos preços acessíveis, atendimento personalizado e roteiros incríveis para transformar seu sonho em realidade.</p>
                    <div class="buttons">
                            <a href="{% url 'criar_viagem'%}" class="button order-now">PROGRAMAR VIAGENS</a>
                            <a href="{% url 'cadastro' %}" class="button contact-us"> se cadastrar</a>
                    </div>
                 </div>
                
            </div>
        </section>
    </main>
</body>
</html>
